body {
    /* background: -moz-linear-gradient(left, #ABABAB, #CDCDCD);
    background: -o-linear-gradient(left, #ABABAB, #CDCDCD);
    background: -webkit-linear-gradient(left, #ABABAB, #CDCDCD);
    background: linear-gradient(to left, #ABABAB, #CDCDCD); */
    background-color: #F9F7EB;
    font-size: 15px;
}

.center {
    text-align: center;
}

.site-icon {
	margin: auto;
	display: block;
	width: 80%;
}

.icon-bar {
    background-color: white;
}

.navbar {
    background-color: #CDB486;
}

.navbar-item {
    color: white;
}

.navbar-nav > li.active > a, .lang-item > a:hover, .lang-item >a:focus, .lang-item.active > a {
	background-color: #F9F9F9;
	color: #2A6496;
}

.lang-item {
	width: 100%;
}

.lang-item > a {
	display: inline-block;
	padding: 15px;
}

.navbar-toggle {
	margin-right: 0;
	margin-top: 15px;
}

.home-list {
    text-align: center;
}

.home-item {
    text-align: center;
    margin-bottom: 20px;
}


.home-list-image {
    width: 100%;
    margin-bottom: 15px;
}

.container {
    overflow-x: hidden;
    width: 100%;
}

.slide {
    position: absolute;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 120%;
}
.slide.ng-enter-active {
    left: 5%;
}
.slide.ng-leave {
    left: 5%;
}
.slide.ng-leave-active {
    left: -120%;
}

.section {
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
}

.section-chiefs {
    background-image: url("../images/Home/Accueil_Chefs.png");
}

.section-suggestions {
    background-image: url("../images/Home/Accueil_Suggestion.png");   
}

.section-philosophy {
    background-image: url("../images/Home/Accueil_Philosophie.png");      
}

.section-creations {
    background-image: url('../images/Home/Accueil_Creation.png');
}

.section-contact {
    background-image: url('../images/Home/Accueil_Contact.png');
}

.section-title {
    border: 8px solid #FFFFFF;
    color: #FFFFFF;
    display: inline-block;
    padding: 30px 40px;
    position: relative;
    top: 50%;
    background-color: #CDB486;
    margin-left: auto;
    margin-right: auto;
}

.section-title-link {
    color: #FFF;
}

.section-content {
    min-height: 300px;
    width: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
}

.section-content-text {
    font-size: 20px;
    line-height: 35px;
    margin: 0 0 35px;
    color: #7F8C8D;
}

.img-contact {
    border: medium solid black;
}

.text-content {
    text-align: justify;
}