body {
    background: -moz-linear-gradient(left, #ABABAB, #CDCDCD);
    background: -o-linear-gradient(left, #ABABAB, #CDCDCD);
    background: -webkit-linear-gradient(left, #ABABAB, #CDCDCD);
    background: linear-gradient(to left, #ABABAB, #CDCDCD);
}

.site-icon {
	margin: auto;
	display: block;
	width: 80%;
}

.icon-bar {
    background-color: white;
}

.navbar {
    background-color: #CDB486;
}

.navbar-item {
    color: white;
}

.navbar-nav > li.active > a, .lang-item > a:hover, .lang-item >a:focus, .lang-item.active > a {
	background-color: #F9F9F9;
	color: #2A6496;
}

.lang-item {
	width: 100%;
}

.lang-item > a {
	display: inline-block;
	padding: 15px;
}

.navbar-toggle {
	margin-right: 0;
	margin-top: 15px;
}

.slide {
    position: relative;
    left: 5%;
    display: inline-block;
    overflow: hidden;
}
.slide.ng-enter,
.slide.ng-leave {
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}
.slide.ng-enter {
    left: 120%;
}
.slide.ng-enter-active {
    left: 5%;
}
.slide.ng-leave {
    left: 5%;
}
.slide.ng-leave-active {
    left: -120%;
}