<section class="section section-chiefs">
	<h2 class="section-title center-block">
		<a href="#/chiefs" class="section-title-link">
			<span translate="NAVBAR.CHIEFS_LINK"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</h2>
</section>
<section class="section-content">
	<h1 class="section-content-title" translate="HOME.CHIEFS.TITLE">CHIEFS</h1>
	<div class="section-content-text">
		<p translate="HOME.CHIEFS.CONTENT">INTRO</p>
		<a href="#/chiefs"><span class="glyphicon glyphicon-chevron-right"></span><span translate="HOME.CHIEFS.LINK">LINK</span></a>		
	</div>	
</section>
<section class="section section-suggestions">
	<h2 class="section-title center-block">
		<a href="#/suggestions" class="section-title-link">
			<span translate="NAVBAR.SUGGEST_LINK"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</h2>
</section>
<section class="section-content">
	<h1 class="section-content-title" translate="HOME.SUGGEST.TITLE">SUGGEST</h1>
	<div class="section-content-text">
		<p translate="HOME.SUGGEST.CONTENT">INTRO</p>
		<a href="#/suggestions"><span class="glyphicon glyphicon-chevron-right"></span><span translate="HOME.SUGGEST.LINK">INTRO</span></a>		
	</div>	
</section>
<section class="section section-philosophy">
	<h2 class="section-title center-block">
		<a href="#/philosophy" class="section-title-link">
			<span translate="NAVBAR.PHILOSOPHY_LINK"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</h2>
</section>
<section class="section-content">
	<h1 class="section-content-title" translate="HOME.PHILOSOPHY.TITLE">PHILOSOPHY</h1>
	<div class="section-content-text">
		<p translate="HOME.PHILOSOPHY.CONTENT">INTRO</p>
		<a href="#/philosophy"><span class="glyphicon glyphicon-chevron-right"></span><span translate="HOME.PHILOSOPHY.LINK">INTRO</span></a>		
	</div>	
</section>
<section class="section section-creations">
	<h2 class="section-title center-block">
		<a href="#/creations" class="section-title-link">
			<span translate="NAVBAR.CREATIONS_LINK"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</h2>
</section>
<section class="section-content">
	<h1 class="section-content-title" translate="HOME.CREATIONS.TITLE">CREATION</h1>
	<div class="section-content-text">
		<p translate="HOME.CREATIONS.CONTENT">INTRO</p>
		<a href="#/creations"><span class="glyphicon glyphicon-chevron-right"></span><span translate="HOME.CREATIONS.LINK">INTRO</span></a>		
	</div>	
</section>
<section class="section section-contact">
	<h2 class="section-title center-block">
		<a href="#/contact" class="section-title-link">
			<span translate="NAVBAR.CONTACT_LINK"></span>
			<span class="glyphicon glyphicon-chevron-right"></span>
		</a>
	</h2>
</section>
<section class="section-content">
	<h1 class="section-content-title" translate="HOME.CONTACT.TITLE">CONTACT</h1>
	<div class="section-content-text">
		<p translate="HOME.CONTACT.CONTENT">INTRO</p>
		<a href="mailto:contact@deuxamis.ch"><span class="glyphicon glyphicon-chevron-right"></span>contact@deuxamis.ch</a>
		<a href="tel:+410791961786"><span class="glyphicon glyphicon-chevron-right"></span>Tel: 079 196 17 86</a>		
	</div>
	<div class="row">
		<div class="col-md-2 col-sm-3 col-xs-10">
			<a href="https://twitter.com/">
				<img src="../images/contact/twitter.png" alt="twitter" class="img-responsive img-circle img-contact">
			</a>
		</div>
		<div class="col-md-2 col-sm-3 col-xs-10">
			<a href="https://www.facebook.com/">
				<img src="../images/contact/facebook.png" alt="facebook" class="img-responsive img-circle img-contact">
			</a>
		</div>
		<div class="col-md-2 col-sm-3 col-xs-10">
			<a href="https://www.google.com/+">
				<img src="../images/contact/google+.png" alt="facebook" class="img-responsive img-circle img-contact">
			</a>
		</div>
	</div>	
</section>
